<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">APP</li>
      <%if user_signed_in?%>
        <li><%= link_to 'Nuevo post', new_post_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
  <ul class="menu">
  	<%if user_signed_in?%>
 	  <li>Logged in as <strong><%=current_user.email%></strong></li>
 	  <li><%=link_to "Editar perfil", edit_user_registration_path, :class =>'navbar-link' %></li>
 	  <li><%= link_to "Salirs", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
    <%elsif admin_signed_in?%>
      <li>logged in as admin<strong><%= current_admin.email%></strong>></li>
      <li><%=link_to "Editar perfil", edit_admin_registration_path, :class =>'navbar-link' %></li>
      <li><%= link_to "Salirs", destroy_admin_session_path, method: :delete, :class => 'navbar-link'%></li>
 <%else%>
 	<li><%= link_to "Registro", new_user_registration_path, :class => 'navbar-link' %></li>
 	<li><%= link_to "Ingresars", new_user_session_path, :class => 'navbar-link' %></li>
 </ul>
   <%end%>
  </div>
</div>