
<h1>Lista de Post</h1>

<table>
  <thead>
    <tr>
      <th width="200">Titulo</th>
      <th width="350">Cuerpo del titulo</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <% if admin_signed_in?%>
      <th>User</th>
      <%end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.ttle %></td>
        <td>
          <% if post.body.length >0 %>
            <a href="#" data-open="post-1<%=post.id%>">Ver observaciones</a>
              <div id="post-1<%=post.id%>" class="reveal" data-reveal>
              <%=post.body%>
                <button class="close button" data-close aria-label="cerrar" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% if admin_signed_in?%>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= User.find(post.user_id).email %> </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

